* {
  margin: 0;
  padding: 0;
}

html,
body {
  background: #000 url('./img//bg.jpg') no-repeat center center/cover;
  height: 100vh;
  /* color: #fff; */
  font-family: Arial, Helvetica, sans-serif;
}

form {
  opacity: 0.3;
}

.card {
  box-shadow: 5px 5px 5px 5px #5567;
}

a {
  text-decoration: none;
}

strong {
  font-family: 'Marvel', sans-serif;
  color: lightgreen;
  font-size: 30px;
  font-style: italic;
}

h1 {
  font-family: 'Sacramento', cursive;
}

.bread {
  opacity: 0.7;
}
